#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}

#aside-content .card-widget {
    background: var(--light_bg_color)
}

#web_bg {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
}
#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}
body {
    cursor: url(https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/theme_f/curcor1.png), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block
}

a,
button,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/theme_f/curcor2.png), auto
}
/* valine 评论 */

/* 去除了dark模式下头像border和padding */
[data-theme='dark'] .v[data-class=v] .vcards .vcard .vimg {
    padding: 0;
    border: none;
}

[data-theme='dark'] #post .v[data-class=v] .vcontent img {
    display: inline-block;
}

.v[data-class=v] .emoji,
.v[data-class=v] .vemoji {
    vertical-align: text-bottom;
}

.v[data-class=v] .vwrap .vemojis {
    max-height: 260px !important;
}

.v[data-class=v] .vwrap .vemojis i[title|=menhera] {
    width: 22% !important;
    margin: 5px 10px;
}

.v[data-class=v] .vwrap .vemojis img[alt|=menhera] {
    max-width: 100% !important;
}

.v[data-class=v] .vcontent .emoji[alt|=menhera],
.v[data-class=v] .vcontent .vemoji[alt|=menhera] {
    max-width: 300px !important;
    /* vertical-align: middle; */
    margin: 8px 1px;
    display: block !important;
}

@media screen and (max-width: 1200px) {
    .v[data-class=v] .vwrap .vemojis i[title|=menhera] {
        margin: 5px 8px;
    }
}

@media screen and (max-width: 768px) {
    .v[data-class=v] .vcontent .emoji[alt|=menhera],
    .v[data-class=v] .vcontent .vemoji[alt|=menhera] {
        max-width: calc(100% - 30px) !important;
    }
}

@media screen and (max-width: 576px) {
    .v[data-class=v] .vwrap .vemojis {
        max-height: 200px !important;
    }
    .v[data-class=v] .vwrap .vemojis i[title|=menhera] {
        margin: 5px 5px;
    }
}

@media screen and (max-width: 400px) {
    .v[data-class=v] .vwrap .vemojis i[title|=menhera] {
        width: 21% !important;
    }
}
/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}